version: "3.9"

services:
  ids-api:
    build: .
    container_name: ids-api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped